@model AzureWorkshop.Web.Models.Storage.StorageViewModel

<div class="row">
    <div class="col-4">
        <a class="btn btn-primary" asp-action="CreateContainer">Create Container</a>
    </div>
    <div class="col-4 offset-4">
        <div class="input-group mb-3">
            @Html.DropDownListFor(m => m.SelectedContainer, Model.Containers, new { @class = "form-select" })
            <button class="btn btn-outline-secondary" type="button" onclick="viewContainerContents_OnClick()">View Contents</button>
            <input type="hidden" id="containerBaseUrl" value="@Url.Action("Index", "Storage")" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @if (Model.BlobItems != null && Model.BlobItems.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Access Tier</th>
                        <th>Last Modified</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BlobItems)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Properties.AccessTier</td>
                            <td>@item.Properties.LastModified</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-secondary" role="alert">
                @if (string.IsNullOrEmpty(Model.SelectedContainer))
                {
                    <span>Select a container to view its contents.</span>
                }
                else
                {
                    <span>No items found in the container.</span>
                }
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.SelectedContainer))
        {
            <form asp-action="Upload" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="mt-3 col-6 offset-6">
                        <div class="input-group">
                            <input class="form-control" type="file" id="file" name="file">
                            <button class="btn btn-primary" type="submit">Upload</button>
                            <input type="hidden" name="containerName" value="@Model.SelectedContainer" />
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</div>